html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1vw;
    font: inherit;
    color: white;
    vertical-align: baseline; }

body {
    background-color: black;
}

h1 {
    width: 60vw;
    font-size: 3rem;
    display:inline;
    text-align: center;
}

a {
    text-decoration: none;
    color: purple;
    border-bottom: 2px solid #ccc;
}

section {
    margin: 0 auto;
}

div {
    -webkit-transform-origin: left top; 
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    transform-origin: left top;
}

.something {
    margin: 10px 40px;
    text-align: center;
}

#header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background: #e65c00; */
    background-image: url(grid.png);
    background-repeat: repeat;
    background-color: #e65c00;
    
    font-size: x-large;
    letter-spacing: 1px; 
    font-weight: 600;
    font-family: "Creepster", 'Courier New';
    position:sticky;
    border-bottom: 12px solid black;
}

.icon {
    width: 8rem;
    margin: 10px 0;
    /*animation: ;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); */
}

#header h1 {
    width: 60vw;
    font-size: 4vh;
    display:inline;
    text-align: center;
}
    
@media screen and (max-width: 769px) {
    header {
    display: none; } }


#hero {
    max-height: 400px;
    object-fit: fill;
    /* background: transparent url('HalloweenFestival2023.jpg') no-repeat center top; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background-repeat: no-repeat; */
    background-position: 0 -69px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    -webkit-transition: background-position 0.6s ease;
    -moz-transition: background-position 0.6s ease;
    -o-transition: background-position 0.6s ease;
    transition: background-position 0.6s ease;
    overflow: hidden;
    
}

#herovideo {
    width: 100%;
    top: -150px;
    filter: brightness(50%);
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    -webkit-transition: background-position 0.6s ease;
    -moz-transition: background-position 0.6s ease;
    -o-transition: background-position 0.6s ease;
    transition: background-position 0.6s ease;
}

#heroOverlay {
    background: url('logospreadright.png') no-repeat;
    background-position: bottom right;
    position: fixed;
    width: 40%;
    height: 900px;
    bottom: 0px;
    /* left: 0px; */
    right: 0px;
}

.main {
    position:relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgb(28, 29, 29);
    font-family: Inter;
    position: relative;
}

#bigimage {
    width:100%;
    position: relative;
}

.sidebyside {
    /* margin: 4vw; */
    width: 90%;
    max-width: 1280px;
    padding: 64px 0;
    display:flex;
    align-items: flex-start;
}

.sideleft {
    /* flex-basis:auto; */
    max-width: 300px;
    display: flex;
    flex-basis: 35%;
}

#sideleftimg {
    /* height: 100%;
    width: 100%; */
    /* height: 600px;
    width: 300px; */
    /* background: transparent url('HalloweenFestival2023.jpg') no-repeat center top;
    background-size: contain; */
    /* height: 100%; */
    width: 100%;
}

.sideright {
    /* margin-left: 3em; */
    padding-left: 35px;
    width: 100%;
    flex-basis:65%;
}

.sideright h1 {
    font-size: 54px;
}

.sideright p {
    font-size: 20px;
}
/* 
@media screen and (max-width: 768px) {
    .sideright p {
        font-size: 72px;
    }

} */

.clubselectors {
    display: flex;
}

.selectorsmenu {
    flex-basis: 25%;
    /* width: 30%; */
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 0 0 0 0;
}

.selectoritem {
    max-width: 40%;
    background-color: grey;
    padding: 15px;
}

.selectoritem:hover {
    cursor: pointer;
}

.selectoritem img {
    width: 100%;
}

.selectorsmenucontent {
    flex-basis: 70%;
}

.clubcontent {
    width: 100%;
    height: 100%;
}


.clubcontent img {
    height: 10%;
}